/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

.book-page {  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Re-enable selection in form fields */
input, textarea {
  -webkit-user-select: text;
  user-select: text;
}